
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/RailRoadDB</property> <!-- connection URL -->
        <property name="hibernate.connection.username">postgres</property> <!-- DB User -->
        <property name="hibernate.connection.password">mssql</property> <!-- DB Password -->

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property> <!-- DB Dialect -->
        <property name="hibernate.hbm2ddl.auto">validate</property> <!-- create / create-drop / update -->

        <property name="show_sql">false</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <mapping class="com.voronov.entities.Station"/>
        <mapping class="com.voronov.entities.Route"/>
        <mapping class="com.voronov.entities.RouteStation"/>
        <mapping class="com.voronov.entities.Ticket"/>
        <mapping class="com.voronov.entities.Passenger"/>
        <mapping class="com.voronov.entities.Trip"/>
        <mapping class="com.voronov.entities.TripStation"/>
        <mapping class="com.voronov.entities.Role"/>
        <mapping class="com.voronov.entities.User"/>
<!--        <mapping class="com.voronov.entities.Wagon"/>-->

    </session-factory>
</hibernate-configuration>